<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>plantilla</title>
</head>
<body>
    {% include "barra.html" %}
    {#esto es un comentario y no sale en el diseño#}
    {% comment %}Comentario de mas de
    mas de una linea
    {% endcomment %}



    <h2>Esta es una plantilla estatica</h2>

    {%if miP.nombre == "Joan" %}<!--Condicional con comparaciones(if normal)-->
        <p>Eres administrador de la pagina</p>
    {%else%}
        <p>NO eres el admin</p>    
    {%endif%}


    <p>El nombre del profesor es: {{nombre_persona}} {{apellido_persona}}</p><!--variables con llaves dobles-->
    <p>La fecha actual ahora mismo es {{momento_actual}}</p>
    <p>La fecha actual ahora mismo es {{momento_actual.day}}/{{momento_actual.month}}/{{momento_actual.year}}</p><!--Fecha en otro formato-->

    <p>El nombre del profesor es: {{miP.nombre}} {{miP.apellido}}</p><!--estos valores vienen de un objeto directo-->

    <h3>Materias impartidas:</h3>
    <div>
        <ul>
            {%if materias%}<!--pregunta si existe esa variable-->
                {% for materia in materias %}<!--Apertura del for-->
                <li>{{materia.lower}}</li><!--en django, las llamadas a metodos en una plantilla no llevan parentesis-->
                {% endfor %}             
            {%else%}
                <p>la lista esta vacia</p>
            {%endif%}
        </ul>
    </div>

    <div>
        <ul>
            {%if materias%}<!--pregunta si existe esa variable-->
                {% for materia in materias %}<!--Apertura del for-->
                <li>{{materia|lower|first}}</li><!--filtra variable por minusculas y primera letra-->
                {% endfor %}             
            {%else%}
                <p>la lista esta vacia</p>
            {%endif%}
        </ul>
    </div>
</body>
</html>

<!--Condicionales, filtros y cargadores-->
<!--De preferencia, no usar demasiado los flujos de control(condicionales, bucles) ya que eso va mas en la parte logica (views)-->
<!--sintaxis: <valor> | <filtro>. ej: miCadena | first | lower-->
<!--Otros filtros: upper-->
<!--Doc de flujos de control y filtros: https://docs.djangoproject.com/en/4.0/ref/templates/builtins/-->
