<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>plantilla</title>
</head>
<body>
    <h2>Esta es una plantilla estatica</h2>
    <p>El nombre del profesor es: {{nombre_persona}} {{apellido_persona}}</p><!--variables con llaves dobles-->
    <p>La fecha actual ahora mismo es {{momento_actual}}</p>
    <p>La fecha actual ahora mismo es {{momento_actual.day}}/{{momento_actual.month}}/{{momento_actual.year}}</p><!--Fecha en otro formato-->

    <p>El nombre del profesor es: {{miP.nombre}} {{miP.apellido}}</p><!--estos valores vienen de un objeto directo-->

    <h3>Materias impartidas:</h3>
    <div>
        <ul>
            {%if materias%}
                {% for materia in materias %}<!--Apertura del for-->
                <li>{{materia.lower}}</li><!--el metodo lower, django no se ponen parentesis-->
                {% endfor %}             <!--Fin del for-->
            {%else%}
                <p>la lista esta vacia</p>
            {%endif%}
        </ul>
    </div>
</body>
</html>